<header>
    <h1>{{screamIt sayHello}}</h1>123
    <p>
        <a href="/"> home</a>
        <a href="/about">about</a>
        <a href="/help.html">help</a>
        <a href="/project">project</a>
        <a href="/bad">bad</a>
    </p>
</header>