<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
			{{pageTitle}}
	</title>
</head>
<body>
	{{>header}}
	<h1>project Page</h1>
	<p>This is help page</p>
	<p>copyRight {{currentYear}}</p>
    <p>{{ projectMessage}}</p>
	{{>footer}}
</body>
</html>